* {
    font-family: "Oswald", sans-serif;
    margin: 0;
}
.app {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}
.main-body {
    display: flex;
    justify-content: center;
}
.section-header {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 40px;
    border-bottom: 1px solid rgba(143, 127, 127, 0.77);
    color: rgb(27, 104, 27);
}
.sub-header {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(27, 104, 27);
}
.bold-header {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/*
Header CSS:
*/
.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    position: fixed;
    min-width: 730px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgb(22, 85, 22);
}
.left-header {
    display: flex;
    align-items: center;
    justify-items: center;
    flex: 1;
    margin-left: 20px;
}
.left-header-button {
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(22, 85, 22);
    transition: 0.2s;
}
.left-header-button:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: grey;
}
.middle-header {
    padding-left: 25px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.right-header {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 20px;
}
.search-block {
    position: relative;
    height: fit-content;
    top: 20px;
}
.search-bar {
    width: 200px;
}
.search-results {
    border: 2px solid forestgreen;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.search-results-row {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid forestgreen;
    background-color: white;
    color: black;
    text-decoration: solid;
}
.search-results-row:hover {
    cursor: pointer;
    color: rgb(27, 104, 27);
}
.search-results-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-right: 7px;
}
.log-out {
    height: fit-content;
    position: relative;
    top: 20px;
    margin-left: 15px;
}
.Hlink {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    color: black;
    text-decoration: solid;
    font-size: 20px;
    color: rgb(230, 241, 230);
    transition: 0.2s;
}
.Hlink:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    transform: scale(1.2);
}

/*
Auth CSS:
*/

.auth-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(2, 52, 11, 1) 0%,
        rgba(51, 232, 26, 1) 100%
    );
}

.auth-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 0px;
    width: 300px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(230, 241, 230);
}

.auth-header {
    display: flex;
    justify-content: space-evenly;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
}

.auth-active {
    cursor: pointer;
    color: rgb(10, 163, 10);
    border-bottom: 1px solid rgb(10, 163, 10);
}

.auth-inactive {
    cursor: pointer;
    color: rgba(159, 157, 157, 0.581);
}

.auth-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.auth-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.auth-field > label {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 2px;
}

.auth-field > input {
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    padding: 0px 0px 3px 0px;
    border: hidden;
    border-bottom: 1px groove rgba(143, 127, 127, 0.77);
}

.auth-field > input:focus {
    outline: none;
}

.auth-field.invalid > input {
    background-color: rgba(255, 0, 0, 0.196);
}

.submit-form-button {
    font-size: 22px;
    color: white;
    padding: 5px;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(10, 163, 10);
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
}

.submit-form-button.hidden {
    background-color: rgba(10, 163, 10, 0.322);
    cursor: default;
}

.reg-success {
    padding-top: 5px;
    text-align: center;
    color: rgb(10, 163, 10);
}

/*
Modal CSS:
*/

.modal-screen {
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
}

.modal-header {
    display: flex;
    height: 70px;
    width: 50%;
    background-color: rgb(22, 85, 22);
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-left-button {
    margin-left: 20px;
    cursor: pointer;
}

.modal-center-title {
    color: white;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.modal-right-button {
    margin-right: 20px;
    cursor: pointer;
}

/*
Profile CSS:
*/
.profile-main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-content-container {
    display: flex;
    flex-direction: row;
}

.center-dashboard {
    width: 100%;
    min-width: 750px;
    max-width: 800px;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-container {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.link-container:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.profile-progress-container {
    display: flex;
    flex-direction: column;
}

.profile-progress-container h2 {
    margin-top: 0;
    font-size: 40px;
    border-bottom: 1px solid rgba(143, 127, 127, 0.77);
    color: rgb(27, 104, 27);
}

.profile-progress-container table {
    border: 2px solid forestgreen;
    border-radius: 10px;
    width: 500px;
    height: 200px;
}

.profile-progress-container th {
    font-size: 28px;
}

.profile-progress-container td {
    text-align: center;
    font-size: 28px;
}

.dashboard-buttons-container {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
}

.update-profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    transition: 0.2s;
}
.update-profile-button h3 {
    margin: 0px;
    margin-top: 10px;
}
.update-profile-button:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.profile-button-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.calpoly-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    transition: 0.2s;
}
.calpoly-button:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.calpoly-logo {
    width: 80px;
    height: 80px;
}

.calpoly-button h3 {
    margin: 0px;
    margin-top: 10px;
}

.profile-calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 750px;
    max-width: 800px;
}

.profile-calendar-container h2 {
    margin-top: 0px;
    font-size: 40px;
    border-bottom: 1px solid rgba(143, 127, 127, 0.77);
    color: rgb(27, 104, 27);
}

.profile-calendar-container table {
    border: 2px solid forestgreen;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

.profile-calendar-container th {
    font-size: 20px;
}

.profile-calendar-container td {
    text-align: center;
    font-size: 20px;
}

/*
Workouts CSS:
*/

.workouts-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workouts-calendar-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.calendar-month {
    align-self: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 50px;
    letter-spacing: 3px;
    color: rgb(27, 104, 27);
}

.workouts-calendar {
    display: flex;
    border: 2px solid forestgreen;
    border-radius: 10px;
    background-color: rgba(221, 217, 217, 0.77);
    overflow: hidden;
}

.workouts-calendar-header {
    margin: 0;
    text-align: center;
    color: white;
    width: 100%;
    background-color: rgb(22, 85, 22);
}

.workouts-calendar-date {
    margin: 0;
    font-size: 24px;
}

.workouts-calendar-day {
    margin: 0;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

.workouts-calendar-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid forestgreen;
}

.workouts-calendar-current-day {
    background-color: rgba(73, 245, 73, 0.362);
}

.mini-workouts-card {
    width: 120px;
    height: 160px;
    margin: 10px;
    font-size: 14px;
    border: 1px solid forestgreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.mini-workouts-card:hover {
    transition: 0.2s;
    transform: scale(1.02);
}

.mini-workouts-card .workouts-card-sets-reps {
    font-size: 12px;
}

.mini-workouts-card .workouts-card-body {
    height: 130px;
}

.edit-cards-header {
    margin-top: 5px;
    display: flex;
}

.workout-container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    background-color: rgb(25, 109, 25);
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    letter-spacing: 1px;
}

.workouts-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 20px;
}

.workouts-card {
    width: 150px;
    height: 220px;
    margin: 10px;
    border: 2px solid forestgreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.workouts-card:hover {
    transition: 0.2s;
    transform: scale(1.02);
}

.workouts-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(83, 83, 83, 0.5);
}

.workouts-card-delete {
    position: absolute;
    padding-top: 2px;
    padding-left: 2px;
    z-index: 101;
}

.workouts-card-overflow {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.mini-workouts-card .workouts-card-header {
    font-size: 16px;
    height: 30px;
}

.workouts-card-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 180px;
    text-indent: 5px;
}

.workouts-card-body::-webkit-scrollbar {
    display: none;
}

.workouts-card-exercise-container {
    border-top: 2px solid forestgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mini-workouts-card .workouts-card-exercise-container {
    border-top: 1px solid forestgreen;
}

.workouts-card-body > .workouts-card-exercise-container:first-child {
    border-top: none;
}

.workouts-card-exercise {
    font-weight: 600;
}

.workout-modal-title-input {
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
}

.workout-modal-container {
    overflow-y: scroll;
    background-color: white;
    height: 80%;
    width: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.workout-modal-exercise-row {
    display: flex;
}

.workout-modal-exercise-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    height: 100px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    background-color: rgba(160, 160, 160, 0.213);
}

.workout-modal-exercise-header {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.workout-modal-exercise-body {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
}

.workout-modal-exercise-input {
    margin-left: 15px;
    margin-top: 15px;
    width: 200px;
    font-size: 20px;
}

.workout-modal-set-rep {
    display: flex;
    align-items: baseline;
}

.workout-modal-set-rep-input {
    width: 55px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
}

/*
ProfilePicModal CSS:
*/

.edit-profile-modal-container {
    overflow-y: scroll;
    background-color: white;
    width: 50%;
    height: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.edit-profile-modal-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px;
}

.edit-profile-name {
    margin: 10px;
}

.edit-profile-modal-overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 150px;
    align-items: flex-end;
    border-radius: 50%;
    background-color: rgba(84, 83, 83, 0.373);
    cursor: pointer;
}

.crop-region {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/*
Cal Poly CSS
*/

.CalPolyHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RecImg {
    margin-top: 20px;
    width: 600px;
}

.CalPolyAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    margin-top: 30px;
}
.ammenities {
    font-size: 20px;
}
.CalPolyActSection {
    width: 300px;
}
.RecLink {
    text-decoration: none !important;
}
.RecWebImg:hover {
    transform: scale(1.2);
    transition: 0.15s;
    cursor: pointer;
}
.RecWebImg:active {
    opacity: 0.6;
}
.RecWebImg {
    margin-top: 30px;
    width: 90%;
    transition: 0.15s;
}
.CalPolyCalendar {
    margin-top: 50px;
}

/*
Stats css
*/

.stats-main-conatiner {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.stats-container-left {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    float: left;
}

.stats-row {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-weight: 500;
}

.update-stats-form {
    font-weight: 500;
    padding: 5px;
}

.update-stats-form > div {
    display: flex;
    justify-content: space-between;
}

.stats-container-right {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    float: right;
}

.stats-pr-table {
    border: 2px solid forestgreen;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.stats-diet-table {
    border: 2px solid forestgreen;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.diet-container {
    display: flex;
    width: 60%;
    font-weight: 500;
    font-size: 18px;
    justify-content: space-between;
    padding: 10px;
}

.stats-update-form {
    border: 2px solid forestgreen;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.stats-bmi-calculator {
    border: 2px solid forestgreen;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.weight-bmi {
    margin-left: 7px;
}
.weight-lbs {
    width: 75px;
}
.height-bmi {
    margin-left: 7px;
}
.height-ft {
    width: 75px;
}
.height-in {
    width: 75px;
}
.label-ft {
    margin-right: 10px;
}
.bottom-bmi {
    margin-left: 7px;
}
.BMI-result {
    width: 50px;
    margin-right: 10px;
}
.BMI-submit {
    width: 200px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: 0.3s;
}
.BMI-submit:hover {
    cursor: pointer;
    background-color: rgba(143, 127, 127, 0.77);
    transition: 0.3s;
    transform: scale(1.1);
}
.BMI-submit:active {
    background-color: white;
}
.weight-bmi {
    margin-left: 7px;
}
.weight-lbs {
    width: 75px;
}
.height-bmi {
    margin-left: 7px;
}
.height-ft {
    width: 75px;
}
.height-in {
    width: 75px;
}
.label-ft {
    margin-right: 10px;
}
.bottom-bmi {
    margin-left: 7px;
}
.BMI-submit {
    width: 200px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: 0.3s;
}
.BMI-submit:hover {
    cursor: pointer;
    background-color: rgba(143, 127, 127, 0.77);
    transition: 0.3s;
    transform: scale(1.1);
}
.BMI-submit:active {
    background-color: white;
}
