* {
    font-family: 'Oswald', sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}
.main-body {
  display: flex;
  justify-content: center;
}
.section-header {
  margin-top: 0px;
  font-size: 40px;
  border-bottom: 1px solid rgba(143, 127, 127, 0.77);
  color: rgb(27, 104, 27);
}
.sub-header {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(27, 104, 27);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/*
Header CSS:
*/
.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.left-header {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 20px;
}
.middle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.right-header {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 1;
  padding-right: 25px;
}
.Hlink {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    color: black;
    text-decoration: solid;
  }
  .Hlink:hover {
    cursor: pointer;
    color: rgb(27, 104, 27) ;
    transition: 0.4s;
    transform: scale(1.1);
  }

/*
Profile CSS:
*/
.profile-main-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-content-container {
  display: flex;
  flex-direction: row;
}

.center-dashboard {
  width: 100%;
  min-width: 750px;
  max-width: 800px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-container {
  color: black;
  text-decoration: none;
}

.profile-progress-container {
  display: flex;
  flex-direction: column;
}

.profile-progress-container h2 {
  margin-top: 0;
  font-size: 40px;
  border-bottom: 1px solid rgba(143, 127, 127, 0.77);
  color: rgb(27, 104, 27);
}

.profile-progress-container table {
  border: 2px solid forestgreen;
  border-radius: 10px;
  width: 500px;
  height: 200px;
}

.profile-progress-container th {
  font-size: 28px;
}

.profile-progress-container td {
  text-align: center;
  font-size: 28px;
}

.dashboard-buttons-container {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 60px;
}

.update-profile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid forestgreen;
  border-radius: 10px;
}

.update-profile-button h3 {
  margin: 0px;
  margin-top: 10px;
}

.profile-button-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.calpoly-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid forestgreen;
  border-radius: 10px;
}

.calpoly-logo {
  width: 80px;
  height: 80px;
}

.calpoly-button h3 {
  margin: 0px;
  margin-top: 10px;
}

.profile-calendar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 750px;
  max-width: 800px;
}

.profile-calendar-container h2 {
  margin-top: 0px;
  font-size: 40px;
  border-bottom: 1px solid rgba(143, 127, 127, 0.77);
  color: rgb(27, 104, 27);
}

.profile-calendar-container table {
  border: 2px solid forestgreen;
  border-radius: 10px;
  width: 100%;
  height: 150px;
}

.profile-calendar-container th {
  font-size: 20px;
}

.profile-calendar-container td {
  text-align: center;
  font-size: 20px;
}

/*
Workouts CSS:
*/

.workouts-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workouts-calendar-container {
  display: flex;
  flex-direction: column;
}

.workouts-calendar {
  display: flex;
  border: 2px solid forestgreen;
  border-radius: 10px;
  background-color: rgba(221, 217, 217, 0.77);
}

.workouts-calendar-day {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  color: white;
  width: 100%;
  height: 40px;
  background-color: rgb(22, 85, 22);
}

.workouts-calendar-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid forestgreen;
}

.mini-workouts-card {
  width: 120px;
  height: 120px;
  margin: 10px;
  border: 1px solid forestgreen;
  border-radius: 10px;
  background-color: white;
}

.workouts-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 40px;
}

.workouts-card {
    width: 150px;
    height: 220px;
    margin: 10px;
    border: 2px solid forestgreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.workouts-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(83, 83, 83, 0.5);
}

.mini-workouts-card .workouts-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    height: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(83, 83, 83, 0.5);
}

.workouts-card-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    height: 180px;
    text-indent: 5px;
}

.workouts-card-body::-webkit-scrollbar {
    display: none;
}  

.workouts-card-exercise-container {
    border-top: 2px solid forestgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}

.workouts-card-body > .workouts-card-exercise-container:last-child {
    border-bottom: 2px solid forestgreen;
}

.workouts-card-exercise {
    font-weight: 600;
}

.workout-modal-screen {
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
}

.workout-modal-header {
  display: flex;
  height: 80px;
  width: 50%;
  background-color: rgb(83, 83, 83);
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.workout-modal-close {
  margin-left: 10px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.workout-modal-title-input {
  text-align: center;
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

.workout-modal-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
    width: 60px;
    height: 30px;
}

.workout-modal-container {
  overflow-y: scroll;
  background-color: white;
  height: 80%;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.workout-modal-exercise-row {
  display: flex;
}

.workout-modal-exercise-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    height: 100px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    background-color: rgba(160, 160, 160, 0.213);
}

.workout-modal-exercise-header {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

.workout-modal-exercise-body {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
}

.workout-modal-exercise-input {
    margin-left: 15px;
    margin-top: 15px;
    width: 200px;
    font-size: 20px;
}

.workout-modal-set-rep {
    display: flex;
    align-items: baseline;
}

.workout-modal-set-rep-input {
    width: 55px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
}

/*
Cal Poly CSS
*/

.CalPolyHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RecImg {
  margin-top: 20px;
  width: 600px;
}

.CalPolyAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  margin-top: 30px;
}
.ammenities {
  font-size: 20px;
}
.CalPolyActSection {
  width: 300px;
}
.RecLink {
  text-decoration: none !important;
}
.RecWebImg:hover {
  transform: scale(1.2);
  transition: 0.15s;
  cursor: pointer;
}
.RecWebImg:active {
  opacity: 0.6;
}
.RecWebImg {
  margin-top: 30px;
  width: 90%;
  transition: 0.15s;
}
.CalPolyCalendar {
  margin-top: 50px;
}

/*
Stats css
*/

.stats-main-conatiner {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.stats-container-left {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  float: left;
}

.stats-container-right {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  float: right;
}

.stats-pr-table {
  border: 2px solid forestgreen;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.stats-diet-table {
  border: 2px solid forestgreen;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.stats-update-form {
  border: 2px solid forestgreen;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.stats-bmi-calculator {
  border: 2px solid forestgreen;
  border-radius: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.weight-bmi{
    margin-left:7px;
}
.weight-lbs{
    width:75px;
}
.height-bmi{
    margin-left:7px;
}
.height-ft{
    width:75px;
}
.height-in{
    width:75px;
}
.label-ft{
    margin-right: 10px;
}
.bottom-bmi{
    margin-left:7px;
}
.BMI-submit{
    width: 200px;
    margin-top: 10px;
    margin-left:3px;
    margin-right:10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: 0.3s;
}
.BMI-submit:hover{
    cursor: pointer;
    background-color:rgba(143, 127, 127, 0.77);
    transition: 0.3s;
    transform: scale(1.1);
  }
.BMI-submit:active{
    background-color: white;
}




