.app {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
.main-body {
    display: flex;
    justify-content: center;
}
.section-header {
    margin-top: 0px;
    font-size: 40px;
    border-bottom: 1px solid rgba(143, 127, 127, 0.77);
    color: rgb(27, 104, 27);
}
/*
Header CSS:
*/
.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .left-header {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
  }
.middle-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.right-header {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 1;
    padding-right: 25px;
  }
.Hlink {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    color: black;
    text-decoration: solid;
  }
  .Hlink:hover {
    cursor: pointer;
    color: rgb(65, 159, 190);
    transition: 0.4s;
    transform: scale(1.1);
  }

  
/*
Profile CSS:
*/
.profile-main-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-content-container {
    display: flex;
    flex-direction: row;
}

.center-dashboard {
    width: 100%;
    min-width: 750px;
    max-width: 800px;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-container {
    color: black;
    text-decoration: none;
}

.profile-progress-container {
    display: flex;
    flex-direction: column;
}

.profile-progress-container h2{
    margin-top: 0;
    font-size: 40px;
    border-bottom: 1px solid rgba(143, 127, 127, 0.77);
    color: rgb(27, 104, 27);
}

.profile-progress-container table{
    border: 2px solid forestgreen;
    border-radius: 10px;
    width: 500px;
    height: 200px;
}

.profile-progress-container th{
    font-size: 28px;
}

.profile-progress-container td{
    text-align: center;
    font-size: 28px;
}

.dashboard-buttons-container {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 60px;
}

.update-profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
}

.update-profile-button h3 {
    margin: 0px;
    margin-top: 10px;
}

.profile-button-avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.calpoly-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
}

.calpoly-logo{
    width: 80px;
    height: 80px;
}

.calpoly-button h3{
    margin: 0px;
    margin-top: 10px;
}

.profile-calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 750px;
    max-width: 800px;
}

.profile-calendar-container h2{
    margin-top: 0px;
    font-size: 40px;
    border-bottom: 1px solid rgba(143, 127, 127, 0.77);
    color: rgb(27, 104, 27);
}

.profile-calendar-container table{
    border: 2px solid forestgreen;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

.profile-calendar-container th{
    font-size: 20px;
}

.profile-calendar-container td{
    text-align: center;
    font-size: 20px;
}

/*
Workouts CSS:
*/

.workouts-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workouts-calendar-container {
    display: flex;
    flex-direction: column;
}

.workouts-calendar {
    display: flex;
    border: 2px solid forestgreen;
    border-radius: 10px;
    background-color: rgba(221, 217, 217, 0.77);
}

.workouts-calendar-day {
    margin: 0;
    padding-top: 5px;
    text-align: center;
    color: white;
    width: 100%;
    height: 40px;
    background-color: rgb(22, 85, 22);
}

.workouts-calendar-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid forestgreen;
}

.mini-workouts-card {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    background-color: white;
}

.workouts-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 40px;
}

.workouts-card {
    width: 150px;
    height: 220px;
    margin: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    background-color: white;
}