.app {
    display: flex;
    flex-direction: column;
}
.main-body {
    display: flex;
    justify-content: center;
}
.section-header {
    margin-top: 0px;
    font-size: 40px;
    border-bottom: 1px solid rgba(143, 127, 127, 0.77);
    color: rgb(27, 104, 27);
}

/*
Header CSS:
*/

.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-header {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
  }
.middle-header{
  display: flex;
  align-items: center;
  min-width: 200px;
  justify-content: space-between;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  
}
.right-header {
    width: 127px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-right: 25px;
  }
.Hlink {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    color: black;
    text-decoration: solid;
  }
  .Hlink:hover {
    cursor: pointer;
    color: rgb(65, 159, 190);
    transition: 0.4s;
    transform: scale(1.1);
  }

  
/*
Profile CSS:
*/
.profile-main-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.profile-content-container {
    display: flex;
    flex-direction: row;
}

.profile-content-banner {
    padding: 5px;
    width: 200px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 30px;
}


/*
Cal Poly CSS
*/

.CalPolyHeader{
  font-size: 50px;
  margin-top: 25px;
}
.RecLink{
  text-decoration: none!important;
}
.RecLinkButton{
  color: black;
  width: 310px;
  font-size: 25px;
  background-color: aqua;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 7px;
  margin-top: 40px;
  padding: 5px 5px 5px 5px;
}
.RecLinkButton:hover {
  background-color: rgb(125, 184, 203);
  transform: scale(1.1);
  transition: 0.15s;
  cursor: pointer;
}

.workouts-calendar-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid forestgreen;
}

.mini-workouts-card {
    width: 120px;
    height: 120px;
    margin: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    background-color: white;
}

.workouts-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 40px;
}

.workouts-card {
    width: 150px;
    height: 220px;
    margin: 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    background-color: white;
}

/*
Stats css
*/

.stats-main-conatiner {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.stats-diet-table{
  display: flex;
  
}