.app {
    display: flex;
    flex-direction: column;
}
.main-body {
    display: flex;
    justify-content: center;
}
/*
Header CSS:
*/
.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-header {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 20px;
  }
.middle-header{
  display: flex;
  align-items: center;
  min-width: 200px;
  justify-content: space-between;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  
}
.right-header {
    width: 127px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-right: 25px;
  }
.Hlink {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;
    color: black;
    text-decoration: solid;
  }
  .Hlink:hover {
    cursor: pointer;
    color: rgb(65, 159, 190);
    transition: 0.4s;
    transform: scale(1.1);
  }

  
/*
Profile CSS:
*/
.profile-main-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 12px;
}

.profile-content-container {
    display: flex;
    flex-direction: row;
}

.profile-content-banner {
    padding: 5px;
    width: 200px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 30px;
}